*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.project
.classpath
*.lock
*.bin
.springBeans

/.metadata/
/Servers/
/build/
/gradle/
.gradle/
/.settings/
/.settings/gradle/
**/.settings/
/bin/